* {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  text-decoration: none;
}

article {
  margin-bottom: 6em;
  text-align: center;
}

article > p {
  font-weight: 200;
  color: #be3144;
  line-height: 2;
  letter-spacing: 0.01em;
  margin-top: 0.5em;
  font-size: 2em;
  font-style: italic;
}

body {
  padding-top: 10vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 4em;
  align-items: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
}

@media screen and (max-width: 450px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

.grid-item {
  height: 190px;
  width: 190px;
  background-color: wheat;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  background-color: #be3144;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh;
}

.nav__links li {
  display: inline-block;
  padding: 0 4em;
}

.nav__links li:hover {
  font-size: 1.2em;
}

#projects {
  background-color: #45567d;
}

.project-img {
  height: 300px;
  width: 300px;
}

section,
footer {
  min-height: 100vh;
}

#welcome-section,
#footer-section {
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
